<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MainFooter.ascx.cs" Inherits="SMU_MainFooter.layouts.ProjectX.sublayouts.Main.MainFooter" %>
		<!--BEGIN FOOTER-->
<footer id="site-footer">
    <asp:placeholder runat="server" id="ph_footer"></asp:placeholder>
 </footer>
 <!--BEGIN FOOTERSCRIPTS-->
 <asp:placeholder runat="server" id="ph_footerscripts"></asp:placeholder>
