<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MainAlertMessage.ascx.cs" Inherits="SMU_MainAlertMessage.layouts.ProjectX.sublayouts.Main.MainAlertMessage" %>
		<div class="site-alert" role="alert">
    <asp:placeholder runat="server" id="messagePanel"></asp:placeholder>
</div>
