
/*-----------------------------------------------------
     The code below references our custom Peruna icon
----------------------------------------------------- */


a { color: #116fd6; text-decoration: none; }

a:hover, a:focus { color: #cc0035; text-decoration: underline; }

.form-control, .search-form .search-form-group .search-input-group input { display: block; width: 100%; height: 33px; padding: 6px 12px; font-size: 14px; line-height: 1.42857; color: #555555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block { display: none !important; }

#full-width-carousel {border-bottom: 20px solid #404041; background: #404041;}

#site-header { background-color: #4462b0; }

#secondary-nav .menu .menu-item .menu-link { color: #FFFFFF; font-size: 11px; font-weight: 400; }

#secondary-nav #quick-menu .menu .menu-item { margin: auto 6px; }

@media (min-width: 360px) {
	#secondary-nav #quick-menu .menu .menu-item { margin: auto 10px; }

}

.cta-menu .menu { text-align: left; padding-top: 0; padding-bottom: 0; color: #FFFFFF;}

#secondary-nav .cta-menu .menu-item:last-child .dropdown-menu .dropdown-item { padding: 4px 20px; margin: 1px auto;}


.search-form .search-form-group .search-input-group { border: 8px solid #f3f3f4; background-color: #f3f3f4;}

.search-form .search-form-group .search-input-group .search-input-group-addon { padding: .375rem .75rem; border-radius: 0; border-width: 0; background-color: #f3f3f4; padding-right: 5px; }

#main-nav .dropdown-menu .cta-buttons a:hover { text-decoration: none; color: #CC0035;}

#secondary-nav .menu .menu-item .menu-link { font-size: 11px; }


/*

Screens between slightler larger mobile devices and phablet size

*/
@media screen and (min-width: 360px) { #secondary-nav .menu .menu-item .menu-link { font-size: 11px; }
  #main-nav .cta-menu .menu { width: 89%; text-align: center; }
  #main-nav .cta-menu .menu .menu-item { padding-left: 10px; padding-right: 10px; }
  #main-nav .cta-menu .menu .menu-item .menu-link { font-size: 13px; } }


  #site-footer { background-color: #58595b; color: #FFFFFF; margin-top: 30px;}

  #site-footer .cta-buttons a { width: 120px; margin-left: 10px; margin-right: 10px; font-size: 15px; }

  #site-info { background-color: #404041; padding: 20px; text-align: center; }

  .smu-info a { color: #FFFFFF; font-size: 11px; display: inline-block; margin-right: 5px; text-decoration: none;}

  .smu-info .site-address { font-size: 11px; color: #919396; margin: 0 auto 20; }


  .footer-menu h3 { color: #FFFFFF; text-transform: uppercase;  border-bottom: 2px solid #808182; font-size: 16px; padding-bottom: 5px; margin-top: 0;}

  .footer-menu a { color: #FFFFFF; font-size: 13px;}

  .socials .menu-item .menu-link { color: #FFFFFF; font-size: 24px; }

@media (min-width: 768px) { #site-footer .cta-buttons a { width: 120px; margin-left: 10px; margin-right: 10px; } }

.feed-title { text-align: center; font-size: 24px; margin-bottom: 20px; margin-top: 5px;}

.feed-title a {text-decoration: none; color: #333333;}

.feed-section-footer { text-align: center; padding: 20px 0; }

.feed-section-footer a { margin: 0 auto; font-size: 18px; }

.feed-item.feed-item-featured h3 {margin-top: 0;}

.dropdown-menu .dropdown-item { display: block; margin: 1px auto; padding: 4px;color: #373a3c; font-size: 13px; line-height: 1.5;}

.dropdown-menu .dropdown-item:hover {background-color: #f6f6f6; text-decoration:none;}

.cta-buttons { text-align: center; padding-top: 30px; }

.cta-buttons a:hover { color: #CC0035; background-color: #e6e6e6; border-color: #e0e0e0; }


a { color: #116fd6; text-decoration: none; }

/*@media screen and (min-width: 360px) { #secondary-nav .menu .menu-item .menu-link { font-size: 11px; }
  #main-nav .cta-menu .menu { width: 89%; text-align: center; }
  #main-nav .cta-menu .menu .menu-item { padding-left: 10px; padding-right: 10px; }
  #main-nav .cta-menu .menu .menu-item .menu-link { font-size: 12px; } }*/


  #secondary-nav .cta-menu .menu .menu-item .menu-link { font-size: 12px; }

  #secondary-nav #quick-menu .menu .menu-item.dropdown { display: inline-block; }
  #secondary-nav #quick-menu .menu .menu-item.dropdown .dropdown-item { padding-left: 15px; font-size: 13px}

  #secondary-nav .cta-menu .menu .menu-item { margin: auto 10px; }

  .cta-menu .menu .menu-item.dropdown {/* WHY IS THIS HERE? - KS */ display: none!important; }

  .cta-menu .menu .menu-item.dropdown.search {/* ADDED BY KS TO MAKE SEARCH ICON AND DROPDOWN APPEAR ON MOBILE */ display: inline-block!important; }

  @media screen and (min-width: 991px) {
    .cta-menu .menu .menu-item.dropdown { display: inline-block!important; }
  }

  /* Portrait */
  @media only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {

    #secondary-nav .dropdown-menu { left: -120px!important; }

  }

  #mobileimgLink{
    display: none!important;
  }

  #site-brand {
  	z-index: 10;
  }
