
#main-content .content-container { padding: 0; }

.nav-collapse { display: none; }

.nav-collapse .nav li.dropdown.open a { color: #424242; }

.nav-collapse .nav li.dropdown.open .dropdown-menu { width: 100%; }

.nav-collapse.in .nav li { display: block; }

.nav li { display: inline-block; }

.nav li a { color: #ffffff; }

.mini-nav .nav li { display: inline-block; }

.mini-nav .nav li a { color: #ffffff; }

.nav-collapse .nav .dropdown-menu { min-width: 150px; margin: 0 !important; }

.row-fluid#ctl18 { position: relative; float: left; width: 100%; min-height: 1px; padding-left: 15px; padding-right: 15px; margin-bottom: 20px; }

.row-fluid#ctl19 { margin-left: -15px; margin-right: -15px; }

.row-fluid#ctl19:before, .row-fluid#ctl19:after { content: " "; display: table; }

.row-fluid#ctl19:after { clear: both; }

#titleWrapper .departmentName { background: #cc0035; color: white; font-size: 24px; padding: 10px; text-align: center; margin: 0; }

#titleWrapper .breadcrumb .divider { display: none; }

.news-home-featured img { width: 100%; height: auto; }

#ctl20 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; padding: 0; }

@media (min-width: 992px) { #ctl20 { float: left; width: 75%; } }

.span6#ctl21, .span6#ctl24 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; padding-left: 0; }

@media (min-width: 992px) { .span6#ctl21, .span6#ctl24 { float: left; width: 50%; } }

#ctl27 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; padding: 0; }

@media (min-width: 992px) { #ctl27 { float: left; width: 25%; } }

.stripeyBar { background: #dddddd; padding: 10px; font-weight: normal; margin-bottom: -1px; margin: 0 0 -2px; }

.sidebarCallout { background: #dddddd; padding: 10px; line-height: 24px; }

.sidebarCallout h3 { margin: 0 0 10px; font-size: 20px; }

.sidebarCallout p { font-size: 14px; }

.input-append { display: block; margin-bottom: 20px !important; }

.input-medium { height: 30px; padding: 5px 12px; margin: 0; border-width: 0; display: inline-block; }

button.btn { display: inline-block; height: 30px; padding: 5px 12px; border-radius: 0; margin: -4px 0 0; }

button.btn .icon-search { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

button.btn .icon-search:before { content: "\f002"; }

#ctl24 #smuNews:first-child .featuresTable td, #ctl21 #smuNews:last-child .featuresTable td { padding-top: 20px; margin-left: -15px; margin-right: -15px; }

#ctl24 #smuNews:first-child .featuresTable td:before, #ctl24 #smuNews:first-child .featuresTable td:after, #ctl21 #smuNews:last-child .featuresTable td:before, #ctl21 #smuNews:last-child .featuresTable td:after { content: " "; display: table; }

#ctl24 #smuNews:first-child .featuresTable td:after, #ctl21 #smuNews:last-child .featuresTable td:after { clear: both; }

#ctl24 #smuNews:first-child .featuresTable td a, #ctl21 #smuNews:last-child .featuresTable td a { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; padding: 0; }

@media (min-width: 992px) { #ctl24 #smuNews:first-child .featuresTable td a, #ctl21 #smuNews:last-child .featuresTable td a { float: left; width: 33.33333%; } }

#ctl24 #smuNews:first-child .featuresTable td a img, #ctl21 #smuNews:last-child .featuresTable td a img { max-width: 100%; height: auto; }

#ctl24 #smuNews:first-child .featuresTable td p, #ctl21 #smuNews:last-child .featuresTable td p { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; padding: 0 25px; font-size: 14px; }

@media (min-width: 992px) { #ctl24 #smuNews:first-child .featuresTable td p, #ctl21 #smuNews:last-child .featuresTable td p { float: left; width: 66.66667%; } }

#ctl24 #smuNews:first-child .featuresTable td p a, #ctl21 #smuNews:last-child .featuresTable td p a { display: block; width: 100%; margin: 0 0 5px; padding: 0; }

#ctl24 #smuNews:first-child .featuresTable td:after, #ctl21 #smuNews:last-child .featuresTable td:after { clear: both; }

#smuSideNav { border-top: 10px solid #354ca1; margin-top: 20px; }

#smuSideNav .nav-header a { padding-left: 5px; }

p > a > img { width: 100%!important; height: auto!important; }
