// accordion classes became panel classes in BS3+

.accordion-group{
  @extend .panel;
  @extend .panel-default;
  @extend .panel-group;
  margin-bottom: 2px!important;
  .accordion-heading{
    @extend .panel-heading;
  }
  .accordion-body{
    @extend .panel-collapse;
  }
  .accordion-inner{
    @extend .panel-body;
  }
}
