// extend form classes to Sitecore's form class names

.scfSectionContent{
  @extend .form-horizontal;
  > div{
    @extend .form-group;
    label{
      @include make-sm-column(2);
    }
    input{
      @extend .form-control;
      @include make-sm-column(10);
    }
  }
  .scfRadioButtonList{
    label{
      @include make-sm-column(10);
    }
    input{
      @extend .form-control;
      @include make-sm-column(2);
      box-shadow: none;
    }
  }
}

.scfSubmitButtonBorder{
  clear: both;
  .scfSubmitButton{
    @extend .btn;
    @extend .btn-default;
  }
}

.scfValidatorRequired, .scfRequired {
  position: absolute;
  left: 0;
}
