// sidebar nav

#smuSideNav{
  background-color: #EDEDE5;
  font-size: 13px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 10px 10px;
  .nav-list{
    li{
      &.nav-header{
        font-size: 13px;
        padding: 10px 5px 5px;
        margin-left: -15px;
        margin-right: -15px;
        text-transform: uppercase;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        a{
          color: #999;
        }
      }
    }
  }
}
