/* line 10, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #404041;
  border-color: #404041; }

/* line 15, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #404041; }

/* line 22, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
div.smuFixedTop {
  background: #354ca1;
  padding-top: 15px;
  padding-bottom: 15px; }

/* line 40, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
div.span6.smuLogo {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 846px) {
    /* line 40, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    div.span6.smuLogo {
      float: left;
      width: 50%; } }
  /* line 42, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  div.span6.smuLogo a {
    display: block; }

@media screen and (min-width: 846px) {
  /* line 51, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  div.span6.smuLogo {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; } }
  @media screen and (min-width: 846px) and (min-width: 846px) {
    /* line 51, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    div.span6.smuLogo {
      float: left;
      width: 41.66667%; } }

@media screen and (min-width: 846px) {
    /* line 53, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    div.span6.smuLogo a {
      display: block; }
      /* line 55, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
      div.span6.smuLogo a img {
        float: left; } }

/* line 64, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
div.span6.searchSocial#smus1 {
  display: none;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 846px) {
    /* line 64, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    div.span6.searchSocial#smus1 {
      float: left;
      width: 58.33333%; } }

/* line 70, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
div.span6.searchSocial#smus1 .smuSocialMedia {
  float: right;
  margin-top: 13px;
  margin-right: 10px;
  text-align: right; }
  /* line 75, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  div.span6.searchSocial#smus1 .smuSocialMedia img {
    display: inline-block;
    margin: 0 !important;
    max-width: 50px; }
  /* line 80, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  div.span6.searchSocial#smus1 .smuSocialMedia a {
    color: #FFFFFF; }

@media screen and (min-width: 846px) {
  /* line 90, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  div.span6.searchSocial#smus1 {
    display: block; } }

/* line 100, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
div.span6.searchSocial#smus1 .smuSearch .form-search {
  border: 8px solid #f3f3f4; }
  /* line 103, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  div.span6.searchSocial#smus1 .smuSearch .form-search input {
    width: 174px;
    height: 35px;
    border-radius: 0;
    border: 1px solid #ccc; }
  /* line 110, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  div.span6.searchSocial#smus1 .smuSearch .form-search button {
    border-radius: 0;
    width: 25px;
    height: 35px;
    color: #a9aaad;
    font-size: 16px;
    padding: 0;
    border-width: 0;
    background-color: #f3f3f4; }
    /* line 122, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    div.span6.searchSocial#smus1 .smuSearch .form-search button i {
      font-style: normal;
      margin-left: 8px; }

/* line 133, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
div.navbar.navbar-fixed-top {
  background-color: #404041;
  border: 0;
  position: relative;
  border-width: 0;
  top: auto;
  left: auto;
  right: auto;
  min-height: initial;
  margin: 0;
  padding: 0; }
  /* line 139, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  div.navbar.navbar-fixed-top .navbar-inner#ctl9 .container-fluid {
    margin-left: -15px;
    margin-right: -15px;
    padding: 0; }
    /* line 14, /Users/cresenciocantu/Documents/projects/smu-homepage/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
    div.navbar.navbar-fixed-top .navbar-inner#ctl9 .container-fluid:before, div.navbar.navbar-fixed-top .navbar-inner#ctl9 .container-fluid:after {
      content: " ";
      display: table; }
    /* line 19, /Users/cresenciocantu/Documents/projects/smu-homepage/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
    div.navbar.navbar-fixed-top .navbar-inner#ctl9 .container-fluid:after {
      clear: both; }

/* line 148, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
div.mini-nav {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 10; }
  @media (min-width: 846px) {
    /* line 148, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    div.mini-nav {
      float: left;
      width: 100%; } }
  /* line 151, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  div.mini-nav .nav {
    text-align: center; }
    /* line 154, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    div.mini-nav .nav li a {
      color: #FFFFFF;
      font-size: 13px; }
      /* line 157, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
      div.mini-nav .nav li a:hover, div.mini-nav .nav li a:focus {
        background-color: transparent; }
    /* line 162, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    div.mini-nav .nav > li {
      display: inline-block; }
      /* line 164, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
      div.mini-nav .nav > li > a {
        padding-left: 5px;
        padding-right: 5px; }

/* line 175, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
div.mini-nav .dropdown-menu {
  background: #404041;
  top: 0; }
  /* line 179, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  div.mini-nav .dropdown-menu li a {
    white-space: normal;
    padding-left: 0;
    padding-right: 0; }

/* line 197, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
div.mini-nav li.dropdown .dropdown-menu.search {
  background: transparent;
  box-shadow: none;
  width: 300px;
  left: -65px;
  top: 30px;
  z-index: 10;
  border-color: transparent; }
  /* line 205, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  div.mini-nav li.dropdown .dropdown-menu.search .form-search {
    width: 100%; }
    /* line 207, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    div.mini-nav li.dropdown .dropdown-menu.search .form-search input {
      border: 8px solid #f3f3f4;
      border-radius: 0;
      font-size: 13px;
      height: 45px;
      background-clip: inherit; }
      /* line 214, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
      div.mini-nav li.dropdown .dropdown-menu.search .form-search input:focus {
        border-color: #f3f3f4; }

/* line 229, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
div.mini-nav .dropdown-menu.social {
  border: 8px solid #f3f3f4;
  border-top-width: 0;
  border-radius: 0;
  margin: 0;
  width: auto !important;
  left: -85px;
  margin-top: 1px;
  z-index: 10; }
  /* line 238, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  div.mini-nav .dropdown-menu.social li {
    display: inline-flex; }
    /* line 240, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    div.mini-nav .dropdown-menu.social li a {
      color: #404041;
      display: inline-block;
      padding: 8px;
      font-size: 17px; }

@media screen and (min-width: 846px) {
  /* line 254, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  div.mini-nav {
    display: none; }
  /* line 258, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  #ctl9 .nav-collapse {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    height: auto !important;
    margin-top: 0 !important;
    overflow: visible !important; } }
  @media screen and (min-width: 846px) and (min-width: 846px) {
    /* line 258, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    #ctl9 .nav-collapse {
      float: left;
      width: 100%; } }

@media screen and (min-width: 846px) {
    /* line 265, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    #ctl9 .nav-collapse .nav > li {
      display: inline-block; }
  /* line 276, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  #ctl9 .nav-collapse .nav .dropdown .dropdown-menu {
    background-color: #ffffff;
    margin-top: -1px;
    border-radius: 0; }
    /* line 280, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    #ctl9 .nav-collapse .nav .dropdown .dropdown-menu a, #ctl9 .nav-collapse .nav .dropdown .dropdown-menu p {
      color: #404041; }
    /* line 283, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    #ctl9 .nav-collapse .nav .dropdown .dropdown-menu p {
      padding: 0 10px 0 0; }
  /* line 289, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  #ctl9 .nav-collapse .nav .dropdown:first-child .dropdown-menu {
    padding-left: 10px;
    margin-left: -5px; }
  /* line 295, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  #ctl9 .nav-collapse .nav .dropdown .dropdown-toggle:hover {
    cursor: pointer; } }

@media screen and (max-width: 920px) {
  /* line 312, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  #ctl9 .nav-collapse .nav .dropdown:last-child .dropdown-menu {
    left: -60px; }
  /* line 316, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  #ctl9 .nav-collapse .nav .dropdown a {
    white-space: normal; } }

/* line 328, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
#ctl9 .nav-collapse {
  height: 0;
  overflow: hidden;
  width: 100%; }
  /* line 334, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  #ctl9 .nav-collapse.in {
    height: auto;
    overflow: visible; }
    /* line 338, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    #ctl9 .nav-collapse.in .dropdown-menu {
      width: 100%; }
  /* line 345, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  #ctl9 .nav-collapse .nav .dropdown {
    color: #FFFFFF; }
    /* line 349, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    #ctl9 .nav-collapse .nav .dropdown a {
      color: #FFFFFF;
      padding-left: 10px;
      padding-right: 10px; }
    /* line 355, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    #ctl9 .nav-collapse .nav .dropdown img {
      width: 100% !important;
      margin: 10px auto; }
    /* line 360, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    #ctl9 .nav-collapse .nav .dropdown p {
      padding-left: 20px;
      padding-right: 20px; }
  /* line 369, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  #ctl9 .nav-collapse .dropdown-menu {
    background-color: #404041;
    z-index: 100; }
    /* line 372, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
    #ctl9 .nav-collapse .dropdown-menu a {
      padding-top: 5px;
      padding-bottom: 5px; }

@media screen and (min-width: 425px) {
  /* line 386, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  #ctl9 .nav-collapse .nav .dropdown img {
    width: 250px !important;
    margin: 0 10px 10px 0;
    float: left; }
  /* line 392, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  #ctl9 .nav-collapse .nav .dropdown p {
    padding-top: 10px; } }

@media screen and (min-width: 846px) {
  /* line 404, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/smu-upgrade-theme/header.scss */
  #ctl9 .nav-collapse {
    margin-top: 38px; } }
