// hide the secondary nav from the main home page
#secondary-nav{
  display: none;
}



// hide resesources mobile dropdown on mobile

div.mini-nav{
  .nav{
    > .dropdown{
      &:nth-child(2), &:last-child{
        @extend .visible-md;
      }
    }
  }
}

.smuTopNav{
  .nav-collapse{
    .nav{
      > .dropdown:last-child{
        .dropdown-menu{
          @extend .dropdown-menu-right;
        }
      }
    }
  }
}

#main-nav{
  .navbar.navbar-fixed-top{
    min-height: auto;
  }
}

#ctl9{
  .nav-collapse{
    padding-left: 0;
    .nav{
      .dropdown:first-child{
        a.dropdown-toggle{
          padding-left: 0!important;
        }
        ul.dropdown-menu{
          padding-left: 0;
        }
      }
    }
  }
}

p.departmentName{
  display: none;
}

@media screen and (max-width: $screen-md-max) {
  // align logo to the center on smaller screens
  .span6.smuLogo{
    width: 100%;
  }
}
