@import 'perkins-theme-settings';

a {
color: #5395b7;
}

a:hover, a:focus, a:visited {
color: #9abf49;
}

#carousel-wrapper {
border-bottom: 50px solid #EEEEEE;
padding-bottom: 40px;
}


#site-footer, footer {
    background-color: #d5c7a2;
    color: #333;
    padding-top: 30px;
}

#ctaMain {
  padding: 30px 15px;
  background-color: #d5c7a2;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #B9AA80;
}


#smuNews a.btn {
  display:none;
}

.callout {
    background-color: #e5dcc5;
color: #555;
font-family: 'Open Sans';
font-size: 13px;
line-height: 1.3em;
}

.XSLTProcessor {
background-color: #f6f6f6;
border: 1px solid #eeeeee;
padding: 15px;
}

.XSLTProcessor .table {
margin-bottom: 0;
}
.XSLTProcessor h2 {
    font-size: 24px;
    margin-top: 0;
}
.eventDate {
    background-color: #e5dcc5;
    padding: 10px!important;
    color: #FFFFFF;
    font-size: 1.1em;
    text-align: center;
    line-height: 1.2!important;
    border-top: 1px solid #d5c7a2!important;
}

.eventDate .number {
font-size: 1.35em;
}


.nav li > a {
font-size: 13px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}
#main-nav .nav-collapse .nav .dropdown > a:hover {
color: #ffcc66;
}

#whyChoosePerkins{
  padding: 20px 0;
  margin: 0;
  text-align: center;
  @include make-sm-column(12);
  h2{
    margin: 3px;
  }
}

.owl-controls{
  position: relative;;
  margin-top: 30px;
  width: 100%;
}

.owl-nav{
  width: 100%;
  .owl-prev, .owl-next{
    width: 50%;
    text-align: center;
    em{
      font-size: 25px;
    }
  }
}

.owl-nav{
  .owl-prev{
    float: left;
  }
  .owl-next{
    float: right;
  }
}

.owl-item{
  .socials{
    text-align: center;
    padding-bottom: 10px;
    .btn{
      @extend .btn-default;
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  .owl-controls{
    position: absolute;
    top: 50%;
    bottom: 0;
    width: 100%;
    z-index: -10;
    .owl-nav{
      .owl-prev, .owl-next{
        width: auto;
      }
    }
  }
  .owl-nav{
    .owl-prev{
      margin-left: -35px;;
    }
    .owl-next{
      margin-right: -35px;
    }
  }
  #carousel-wrapper {
    padding-bottom: 20px;
  }
  .dropdown-menu{
    margin-top: -1px;
  }
}

$perkins-dark: #2d4050;

#full-width-carousel {
  border-bottom: 20px solid #404041;
  background: #404041;
}



.home-video-wrapper{
  iframe{
    max-width: 100%!important;
  }
}

a:hover, a:focus, a:visited {
    color: #9abf49;
}

.slidingTrayLinks{
  display: none;
}

.btn-mini{
  @extend .btn-xs;
}

.cat-buttons-row{
  text-align: center;

  .btn{
    margin: 5px;
  }

}

.callout{
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #ededed;
  text-align: center;
  font-size: 12px;
  font-family: Roboto Slab;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.callout .stat {
  font-size: 5.5em;
  font-weight: bold;
  color: #CC0035;
  line-height: 1em;
  text-shadow: #ffffff 1px 1px 0px;
}

.callout {
  p{
    margin: 0;
  }
}

.cat-buttons-row, #carousel-wrapper, .home-video-wrapper, #smuNews,.XSLTProcessor, .large-callout, .content-box{
  @include make-sm-column(12);
  margin-top: 20px;
}

.home-video-wrapper, #smuNews, .XSLTProcessor, .content-box{
  @include make-md-column(4);
}

// make #smuNews full width if inside a span9 content area

.span9{
  #smuNews{
    @include make-xs-column(12);
  }
}

p.departmentName{
  background-color: $perkins-dark;
}

#smuSideNav{
  background-color: #E1E1DD;
  border: 1px solid #dddddd;
}

#smuSideNav .nav-header.home a, #smuSideNav .nav > li > a {
    color: $perkins-dark;

    &:hover, &:focus{
      background-color: #818C96;
      color: #FFFFFF;
    }
}

#titleWrapper {
    h1{
      font-weight: 300;
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 10px;
      color: #9f2a1e;
    }
}

.well{

  &.wellLeft{
    @extend .pull-left;
    margin-right: 20px;
  }

  &.wellRight{
    @extend .pull-right;
    margin-left: 20px;
  }

}

@media screen and (max-width: $screen-xs-max) {
  .well{
    width: 100%!important;
    margin-bottom: 20px;
    img{
      width: 100%!important;
    }
  }
}

.tagline{
  text-align: right;
  font-size: 20px;
  font-style: italic;
}


.cta-buttons, #site-footer .cta-buttons, footer .cta-buttons{

  padding-top: 0;

  a{
    background-color: #cc0035;
    border-color: #990000;
    color: #ffffff;
    display: inline-block;
    margin: 5px 0;
    width: 150px;
    &:hover{
      color: #FFF;
      background-color: #5395b7;
      border-color: #5395b7;
    }

    &:nth-child(2){
      margin-left: 20px;
      margin-right: 20px;
    }

    @media screen and (max-width: 527px){
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      &:nth-child(2){
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

}

#site-footer, footer{
  .cta-buttons{
    @include make-sm-column(12);
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 0 10px 0;
  }
}

#ctl5{
  .smuSocialMedia{ display: none; }
  .searchSocial#smus1 .smuSocialMedia{ display: block; }
}

// News page

#ctl14{
  #smuNews{
    padding: 0;
    .featuresTable{
      p > a > img{
        float: left;
        margin-right: 10px;
      }
    }
  }
}
