footer{
  background-color: #404041;
  color: #ffffff;
  margin-top: 20px;
  padding-top: 20px;
  .container-fluid{
    @include block-reset();
  }
  #smuFooter{
    @extend .container;
    .row-fluid{
      @extend .row;
    }
  }
  a{
    i{
      @extend .fa;
    }
  }
}

#smuFooter{
  .row-fluid{
    .span6{
      @include make-sm-column(6);
    }
  }
}

#smuFooter{
  #copyright{

  }
}

#smuFooter{
  #links{

    #footerListRight{

    }
    #footerListLeft{

    }

    ul{
      list-style: none;
      text-align: right;

      li{
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
}
