// BS overrides

@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "variables";
@import "mixins";
@import '../../defaults/colors';

// bootstrap overrides

.smuTopNav{
  .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
      background-color: $main-nav-bg-color;
      border-color: $main-nav-bg-color;
  }
}

.smuTopNav{
  .nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: $main-nav-bg-color;
  }
}

.nav > li > a {
      position: relative;
      display: block;
      padding: 0px 15px; }

// masthead background

div.smuFixedTop{
  background: $brand-primary;
  padding-top: 15px;
  padding-bottom: 15px;
}

// container and row classes

div.container-fluid.masthead#ctl4{
  @extend .container !optional;
}

div.row-fluid#ctl5{
  @extend .row !optional;
}

// header logo

div.span6.smuLogo{
  @include make-md-column(6);
  a{
    display: block;
    img{
      @extend .center-block !optional;
    }
  }
}

@media screen and (min-width: $screen-md-min){
  div.span6.smuLogo{
    @include make-md-column(5);
    a{
      display: block;
      img{
        float: left;
      }
    }
  }
}

// social dropdown

div.span6.searchSocial#smus1{
  display: none;
  @include make-md-column(7);
}

div.span6.searchSocial#smus1{
  .smuSocialMedia{
    float: right;
    margin-top: 13px;
    margin-right: 10px;
    text-align: right;
    img{
      display: inline-block;
      margin: 0!important;
      max-width: 50px;
    }
    a{
      color: $white;
      font-size: 20px;
      i{
        @extend .fa !optional;
      }
    }
  }
}

@media screen and (min-width: $screen-md-min){
  div.span6.searchSocial#smus1{
    display: block;
    .smuSearch{
      input#q2{
        width: 170px;
      }
    }
  }
}

// search dropdown

div.span6.searchSocial#smus1{

  .smuSearch{

    .form-search{
      @extend .input-group !optional;
      border: 8px solid #f3f3f4;
      input{
        @extend .form-control !optional;
        width: 200px;
        height: 35px;
        border-radius: 0;
        border: 1px solid #ccc;
      }
      button{
        @extend .btn !optional;
        @extend .fa !optional;
        @extend .input-group-addon !optional;
        border-radius: 0;
        width: 25px;
        height: 35px;
        color: #a9aaad;
        font-size: 16px;
        padding: 0;
        border-width: 0;
        background-color: #f3f3f4;
        i{
          font-style: normal;
          margin-left: 8px;
        }
      }
    }
  }
}

// main nav area

div.navbar.navbar-fixed-top{
  background-color: $main-nav-bg-color;
  border: 0;
  @include block-reset();
}

// nav link defaults

.navbar.navbar-fixed-top{
  .nav{
    > li{
      > a{
        padding: 8px 5px;
        font-size: 15px;
      }
    }
  }
}

#main-nav{

    .dropdown-menu{
      margin: -1px 0 0;
      width: 100%;
    }

}

@media screen and (min-width: $screen-md-min) {
  #main-nav{
    .nav-collapse{
      .dropdown-menu{
        width: auto;
      }
    }
  }
}

// mobile collapse navs

.nav-collapse{
  .nav{
    > li{
      padding-left: 15px;
      padding-right: 15px;
      > a{
        color: $main-nav-color;
      }
    }
  }
}

// update nav collapse to allow smooth opening and closing

.nav-collapse{
  height: 0;
  overflow: hidden;
  &.in{
    height: auto;
    overflow: visible;
  }
}

@media screen and (min-width: $screen-md-min) {
  .nav-collapse{
    height: auto;
    overflow: visible;
    @include make-md-column(12);
    .nav{
      > li{
        display: inline-block;
        padding: 0;
        > a{
          padding-left: 5px!important;
          padding-right: 5px!important;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-md-max) {
  .nav-collapse{
    .nav{
      > li{
        > a{
          padding-left: 15px!important;
          padding-right: 15px!important;
        }
      }
    }
  }
}

// mobile nav

div.mini-nav{
  @include make-md-column(12);
  z-index: 10;
  .nav{
    text-align: center;
    li{
      a{
        color: $main-nav-color;
        &:hover, &:focus{
          background-color: transparent;
        }
      }
    }
    > li{
      display: inline-block;
    }
  }
}

// main nav mobile dropdown menu

div.mini-nav{
  .dropdown-menu{
    background: $main-nav-bg-color;
    border-radius: 0;
    margin: 0;
    li{
      a{
        white-space: normal;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

// search dropdown

div.mini-nav{
  .dropdown{
    .search{
      background: transparent;
      box-shadow: none;
      z-index: 10;
      border-color: transparent;
    }
  }
}

// search dropdown form

div.mini-nav{
  .dropdown{
    .form-search{
      width: 100%;
      top: -6px;
      input{
        border: 8px solid #f3f3f4;
        border-radius: 0;
        font-size: 13px;
        height: 45px;
        background-clip: inherit;
        @extend .form-control !optional;
        &:focus{
          border-color: #f3f3f4;
        }
      }
    }
  }
}

// social drop down

div.mini-nav{
  .dropdown-menu.social{
    li{
      a{
        color: #ffffff;
        display: inline-block;
        padding: 8px;
        font-size: 17px;
        em{
          @extend .fa !optional;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-md-min){
  div.mini-nav{
    display: none;
  }
  #ctl9{
    .nav-collapse{
      @include make-md-column(12);
      display: block;
      height: auto!important;
      margin-top: 0!important;
      overflow: visible!important;
      .nav{
        > li{
          display: inline-block;
        }
      }
    }
  }
  #ctl9{
    .nav-collapse{
      .nav{
        .dropdown{

          .dropdown-menu{
            background-color: #ffffff;
            margin-top: -1px;
            border-radius: 0;
            a,p{
              color: $main-nav-bg-color;
            }
            p{
              padding: 0 10px 0 0;
            }
          }

          &:first-child{
            .dropdown-menu{
              padding-left: 10px;
              margin-left: -5px;
            }
          }
          .dropdown-toggle{
            &:hover{
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}




div.navbar.navbar-fixed-top{
  .navbar-inner{
    @extend .container !optional;
    .container-fluid{
      @include make-row();
      padding: 0;
    }
  }
}

.dropdown-backdrop{
  display: none;
}

@media screen and (max-width: 920px){
  #ctl9{
    .nav-collapse{
      .nav{
        .dropdown{
          &:last-child{
            .dropdown-menu{
              left: -60px;
            }
          }
          a{
            white-space: normal;
          }
        }
      }
    }
  }
}



#ctl9{
  .nav-collapse{

    height: 0;
    overflow: hidden;
    width: 100%;

    &.in{
      height: auto;
      overflow: visible;

      .dropdown-menu{
        width: 100%;
      }

    }

    .nav{
      .dropdown{

        color: $white;

        a{
          color: $main-nav-color;
          padding-left: 10px;
          padding-right: 10px;
        }

        img{
          width: 100%!important;
          margin: 10px auto;
        }

        p{
          padding-left: 20px;
          padding-right: 20px;
        }



      }
    }
    .dropdown-menu{
      background-color: $main-nav-bg-color;
      z-index: 100;
      a{
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

@media screen and (min-width: 425px) {
  #ctl9{
    .nav-collapse{
      .nav{
        .dropdown{

          img{
            width: 250px!important;
            margin: 0 10px 10px 0;
            float: left;
          }

          p{
            padding-top: 10px;
          }

        }
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  #ctl9{
    .nav-collapse{
      margin-top: 38px;
    }
  }
}
