// This includes the default bootstrap styles

@import 'smu-styles-settings';
@import '../../font-awesome/font-awesome';
@import "mixins";
@import "components/components";
@import 'header';
@import 'footer';

// Custom SCSS goes below

body#PageBody{
  img{
    @extend .img-responsive;
  }
}

#main-nav{
  margin-bottom: 0;
}


.owl-nav{
  i, em{
    @extend .fa;
  }
}

.icon-facebook{
  @extend .fa-facebook;
}
.icon-facebook-sign{
  @extend .fa-facebook-official;
}
.icon-twitter{
  @extend .fa-twitter;
}
.icon-instagram{
  @extend .fa-instagram;
}
.icon-linkedin{
  @extend .fa-linkedin;
}
.icon-youtube{
  @extend .fa-youtube;
}
.icon-youtube-play{
  @extend .fa-youtube-play;
}
.icon-ellipsis-horizontal{
  @extend .fa-book;
}
.icon-search{
  @extend .fa-search;
}
.icon-chevron-left{
  @extend .fa-chevron-left;
}
.icon-chevron-right{
  @extend .fa-chevron-right;
}


div#smuHomeTop{

}

#smuContentWrapper{
  div.container-fluid#ctl14{
    @extend .container;
    .row-fluid{
      @extend .row;
    }
  }
}

div#titleWrapper{
  .departmentName{
    @include make-xs-column(12);
    background: $brand-danger;
    color: #ffffff;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    margin-bottom: 0;
  }
  img.headerBar{
    @extend .img-responsive;
    width: 100%;
  }
  .breadcrumb{
    @include make-xs-column(12);
    background: transparent;
    display: block;
    padding-top: 0;
    li{
      &.active{

      }
      a{
        font-size: 11px;
      }
      .divider{
        display: none;
      }
    }
  }
  h1{
    @include make-xs-column(12);
    margin-top: 0;
  }
}


#ctl14{
  .row-fluid{
    .span9{
      @include make-sm-column(9);
    }
  }
}

#ctl14{
  .row-fluid{
    .span3{
      @include make-sm-column(3);
    }
  }
}

#ctl14{
  .row-fluid{
    .span12{

    }
  }
}
