// All the of the styles for the site header

.site-alert{
	background-color: $brand-danger;
	color: white;
	display: none;
	padding: 20px;
	p{
		margin: 0;
	}
	a{
		color: inherit;
		text-decoration: underline;
	}
	&.show{
		display: block;
	}
}
