// Secondary Nav

$secondary-nav-link-color: #ffffff;

// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Bootstrap overrides

$brand-primary:             #4462b0 !default;
$brand-danger:              #cc0035 !default;
$gray-dark:                 #424242 !default;
$gray:                      #6b6c6e !default;
$font-family-base: 'Open Sans', sans-serif;

// SMU Theme Settings

// Custom Colors

$white: #FFFFFF;
$dark-blue: #26367b;
$blue: #354ca1;

// Default font



// body

$body-bg-color: $white;

// Secondary nav (small nav at the top)

$secondary-nav-bg-color: $dark-blue;
$secondary-nav-font-color: $white;

// Site header (masthead colors)

$masthead-bg-color: #4462b0;
$masthead-font-color: $white;

// Main nav colors

$main-nav-bg-color: #404041;
$main-nav-font-color: $white;
$main-nav-color: $white;

$dropdown-menu-bg-color: $white;
$dropdown-menu-font-color: $gray-dark;

// pushy nav colors

$pushy-bg-color: #dddddd;
$pushy-link-color: #333333;

// Footer

$footer-primary-bg-color: $gray;
$footer-secondary-bg-color: $gray-dark;

$footer-primary-font-color: $white;
$footer-primary-link-color: $white;

$info-font-color: $gray;
$info-link-font-color: $white;

$social-link-color: $white;
