//variables
$featured-item-bg-color: #f4f5f5;

.feed-section{
	padding-top: 20px;
	height: 100%;
}

.feed-title{
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}

.feed-section{
	img{
		@extend .img-responsive;
		width: 100%;
	}
}

.feed-section-footer{
	text-align: center;

	a{
		margin: 20px auto;
		@extend .btn;
		@extend .btn-primary;
		font-size: 20px;
		letter-spacing: 1px;
	}
}

.feed-item{
	h3{
		font-size: 18px;
		margin-top: 20px;
		font-weight: normal;
		line-height: 22px;
	}
	.event-date, .event-title{
		display: inline-block;
	}
	&.feed-item-featured{
		// @extend .card;
		// @extend .card-block;
		@extend .well;
		font-style: italic;
		background-color: $featured-item-bg-color;
	}
}
