.cta-buttons{
	text-align: center;
	padding-top: 20px;
	a{
		@extend .btn;
		@include button-variant($white, $white, $white);
		display: inline-block;
		color: $gray-dark;
	}
}


#site-footer, footer{
	background-color: $footer-primary-bg-color;
	color: $footer-primary-font-color;
}

#site-footer, footer{
	.cta-buttons{
		a{
			width: 120px;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}

#site-map{
	@extend .container;
	margin-top: 20px;
	margin-bottom: 20px;
}

	.footer-menus{
		@extend .row;
		.footer-menu{
			&:first-child{
				 @include make-sm-column(5);
			}
			&:nth-child(2){
				 @include make-sm-column(3);
			}
			&:last-child{
				 @include make-sm-column(4);
			}
		}
	}


.site-logo{
	@include make-sm-column(4);
	display: block;
	max-width: 330px;
	margin: 0 auto 15px;
	img{
		max-width: 90%;
	}
}


#site-info{
	background-color: $footer-secondary-bg-color;
	padding: 20px;
	text-align: center;
}

.smu-info{
	@include make-sm-column(5);
	display: inline-block;
	text-align: center;
	a{
		color: $info-link-font-color;
		font-size: 10px;
		display: inline-block;
		margin-right: 5px;
	}
	.site-address{
		font-size: 11px;
		color: #919396;
		margin: 5px auto;
	}
}



.footer-menu{
	margin-top: 30px;
	margin-bottom: 30px;
	h3{
		color: $footer-primary-font-color;
		text-transform: uppercase;
		letter-spacing: 2px;
		border-bottom: 2px solid #808182;
		font-size: 20px;
		padding-bottom: 5px;
	}
	a{
		color: $footer-primary-link-color;
	}
}

#site-footer, footer{
	.socials{
		@include make-sm-column(3);
		text-align: center;
		padding: 0;
		.menu-item{
			display: inline-block;
			padding-left: 5px;
			padding-right: 5px;
			.menu-link{
				color: $social-link-color;
				font-size: 20px;
				i{
					&:hover{
						cursor: pointer;
					}
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min)
{
	#site-footer, footer{
		.cta-buttons{
			a{
				width: 120px;
				margin-left: 20px;
				margin-right: 20px;
			}
		}
	}

	.site-logo{
		img{
			margin-left: 0;
		}
	}
}

@media (min-width: $screen-md-min)
{

	.site-logo, .smu-info{
		text-align: left;
	}

	#site-footer, footer{
		.socials{
			text-align: right;
		}
	}

	.cta-buttons{
		text-align: center;
		padding-top: 20px;
		a{
			min-width: 120px;
		}
	}

 }
