#main-nav{
  background-color: $main-nav-bg-color;
  margin-bottom: -1px;
}

#main-nav{
  .menu{
    margin: 0;
    padding: 0;
    text-align: center;
    .menu-item{
      list-style: none;
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;
      .menu-link{
        color: $main-nav-font-color;
        font-size: 12px;
      }
    }
  }
}

#main-nav{
  .cta-menu{
    @extend .visible-xs;

    @include make-sm-column(6);
    .menu{
      padding: 0;
      .menu-item {
        padding: 6px 5px;
        margin-left: 3px;
      }
    }
  }
}

#main-nav{
  .mobile-toggle-button{

    color: $white;

  }
}

#main-menu-container{
  @extend .hidden-xs;
  @include make-sm-column(12);

  .menu{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
  }

  .dropdown-backdrop{
    display: none;
  }

  .dropdown-menu{
    padding-top: 20px;
		padding-bottom: 20px;
  }
}

#main-nav{

	.dropdown-menu{
		@extend .row;

		border-radius: 0;
		.dropdown-links{
			@include make-sm-column(12);
			&.dropdown-links-quarter{
				@include make-sm-column(3);
			}
			&.dropdown-links-one-third{
				@include make-sm-column(4);
			}
		}
		.dropdown-item{
			white-space: normal;
			font-size: 13px;
      display: block;
      margin: 1px auto;
      padding: 4px;
      color: #373a3c;
      line-height: 1.5;
      &:hover{
        background-color: #f6f6f6;
        text-decoration: none;
      }
		}
		.dropdown-content{
			font-size: 14px;
			font-style: italic;
			@include make-sm-column(8);
			img{
				float: left;
				margin-right: 20px;
			}
			&.dropdown-content-two-third{
				@include make-sm-column(8);
        img{
          margin-right: 10px;
        }
			}
			&.dropdown-content-half{
				@include make-sm-column(6);

			}
		}
	}
}

#main-nav{
  .cta-menu{
    .dropdown{
      &.search{

        .dropdown-menu{
          border-radius: 0;
          margin-top: 1px;
          margin-right: -40px;
          width: 300px;
          padding: 0;
        }

      }
    }
  }
}

#main-nav .dropdown-menu .cta-buttons a {
    background-color: #ededed;
    display: inline-block;
    color: #404041;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    font-style: normal;

		&:hover{
			text-decoration: underline;
		}
}

@media screen and (max-width: $screen-sm-max) {
  #main-nav{

    .dropdown-menu{

      .dropdown-content{

        &.dropdown-content-half{

          img{
            width: 100%;
            height: auto;
            margin-bottom: 10px;
            display: block;
          }
        }

      }
    }
  }
}

@media screen and (min-width: $screen-md-max) {
  #main-nav{

  	.dropdown-menu{

  		.dropdown-content{

        &.dropdown-content-half{

          img{
            width: auto;
            float: left;

          }
  			}

  		}
  	}
  }
}
