#masthead{
  background-color: $blue;
  padding: 15px 7px;
  .header-row{
    position: relative;
  }
}

#desktopimgLink{
  @extend .hidden-xs;
}

#mobileimgLink{
  @extend .visible-xs;
}

  #site-brand{
    z-index: 10;
    @include make-sm-column(6);

    .site-title{
      max-width: 320px;
      margin: 0 auto;
    }

  }


  .masthead-content{

    @extend .hidden-xs;


    color: $masthead-font-color;
    height: 100%;
    position: absolute;
    width: 100%;

    > div{

      @include make-sm-column(6);
      @extend .pull-right;
      @include vertical-align();

      *{

        margin: 0;
      }
    }


  }


.search-form{

  float: right;
  position: relative;
  max-width: 300px;



  .search-form-group{
    @extend .form-group;
    margin-bottom: 0;

    .search-input-group{
      @extend .input-group;
      border: 8px solid #f3f3f4;
      input{
        border-radius: 0;
        font-size: 13px;
        border: 1px solid #ccc;
        @extend .form-control;
        background-clip: inherit;
      }
      .search-input-group-addon{
        @extend .input-group-addon;
        padding: .375rem .75rem;
        border-radius: 0;
        border-width: 0;
        background-color: #f3f3f4;
        padding-right: 3px;
        i{
          color: #a9aaad;
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) {

  .site-title{
    float: left;
  }

}
