#secondary-nav{

  background-color: $secondary-nav-bg-color;

}

// quick menu

#secondary-nav{

  #quick-menu{
    @include make-sm-column(6);

  }

}

// cta menu

#secondary-nav{

  .cta-menu{
    @include make-sm-column(6);
    @extend .hidden-xs;

    .menu{
      text-align: right;
    }

  }

}

// dropdown-menu

#secondary-nav{

  .dropdown{
    &.open{
      .dropdown-toggle{
        text-decoration: none;
      }
    }
  }

  .dropdown-menu{

      @extend .dropdown-menu-right;


    .dropdown-item{
      padding: 4px 15px;
      font-size: 13px;
    }

  }
}

// basic menu styles

#secondary-nav{

  .menu{

    text-align: center;
    padding: 10px 0 12px;
    margin-bottom: 0;
    .menu-item{

      list-style: none;
      display: inline;
      padding: 0 10px;
      .menu-link{

        color: $secondary-nav-link-color;
        font-size: 10px;

      }

      .fa{

        color: $secondary-nav-link-color;

      }

    }

  }

  .dropdown-menu{

    margin-top: 11px;

    .dropdown-item{

      display: block;
      margin: 1px auto;
      color: #373a3c;
      font-size: 13px;
      line-height: 1.5;

    }

  }

}

@media screen and (min-width: $screen-sm-min) {

#secondary-nav{
  #quick-menu{
  .dropdown-menu{
    left: 0;
    right: auto;
    }

    .menu{
      text-align: left;
    }

  }
}


#secondary-nav{

  .menu{

    .menu-item{
      .dropdown-menu{
        .fa{

          color: #373a3c;

        }
      }

    }

  }



}

}
