@import 'bootstrap';
@import 'pushy/pushy';
@import 'smu-mixins';
@import 'colors';
@import 'grid';
@import 'alert';
@import 'secondary-header';
@import 'masthead';
@import 'pushy/pushy';
@import 'main-nav';
@import 'full-width-carousel';
@import 'feed-section';
@import 'footer';

.site-logo, .logo{

  img{
    @extend .img-responsive;

  }
}

.dropdown-menu{
	border-radius: 0;
  box-shadow: none;
}

@font-face {
	font-family: 'Peruna';
	src:url('/bootstrap/fonts/Peruna.eot');
	src:url('/bootstrap/fonts/Peruna.eot?#iefix') format('embedded-opentype'),
		url('/bootstrap/fonts/Peruna.woff') format('woff'),
		url('/bootstrap/fonts/Peruna.ttf') format('truetype'),
		url('/bootstrap/fonts/Peruna.svg#Peruna') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-peruna  {
	font-family: 'Peruna';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-peruna:before {
	content: "\e000";
}

.menu{
	padding-left: 0;
	margin-bottom: 0;
	.menu-item{
		list-style: none;
	}
}
