
<!-- the Call to Action Widget -->

<!-- Template Field: CTA Theme - select field (cta callout template)

     There are three options for the select field each option applies an additional
     class to the cta-callout div:

      - Default (no class will be added here)
      - Red (cta-callout-red)
      - Blue (cta-callout-blue)
      - Dark (cta-callout-dark)

-->

<div class="cta-callout cta-callout-dark">

  <div class="cta-content">

    <!-- Template Field: CTA Content - RTE Field that will render HTML inside this area -->

  </div>

</div>
