  <!--

  Template Field: Alert Message - RTE field (home page template)

  This is the area intended for the alert message. If the alert field is being used,
  render the <div> below with the class .site-alert. The data of the RTE field should be inside the div

    <div class="site-alert">
        RENDER ALERT MESSAGE FIELD HERE
    </div>

  -->

  <!-- end the alert code -->

      <!-- ********* place mobile nav here ********* -->


      <div id="container">

        <header id="site-header">

          <!-- Can this be a conditional block? If nothing is binded to this placeholder do not render the markup for secondary-nav -->

          <nav id="secondary-nav">
            <div class="header-container">
              <div class="header-row">

                <!-- Placeholder for secondary navigation area widgets -->

              </div>
            </div>
          </nav>

          <!-- end: If nothing is binded to this placeholder do not render the markup for secondary-nav -->


          <!-- The masthead section has three fields:

                1. Desktop logo - Main logo for the site. (required)
                2. Mobile logo - Not required, this logo will be displayed only on mobile devices (not required)
                3. Masthead Content - RTE field ideally for search html

                Each logo requires a unique class. Desktop logo needs the .desktop-logo class and the mobile logo should use .mobile-logo

           -->

          <div id="masthead">
            <div class="header-container">
              <div class="header-row">
                <div id="site-brand">
                  <div class="site-title">

                    <a href="#" class="logo">

                      <!-- Template Field: Desktop Logo - image field (default settings)

                           The image has a class of .desktop-logo

                      -->

                      <img class="desktop-logo" src="IMAGE PATH" alt="IMAGE ALT PROPERTY">

                      <!-- Template Field: Optional Mobile Logo - image field (default settings)

                           The image has a class of .mobile-logo
                      -->

                      <img class="mobile-logo" src="IMAGE PATH" alt="IMAGE ALT PROPERTY">

                    </a>

                  </div>

                </div>

                <div class="masthead-content">

                  <!-- Site specific search forms require slightly different markup so we'll use an RTE field

                        This area can also be used for other content types.
                  -->

                  <!-- Template Field:  RTE field for the search content -->

                </div>

              </div>
            </div>
          </div>

          <nav id="main-nav">
            <div class="header-container">
              <div class="header-row">

                <!--

                    The area below is intended for mobile content, a call to action menu might not be needed on all
                    pages so an RTE field should be used here.

                    ****************************************************************************************************************

                    Template Field: Mobile CTA HTML - RTE field for rendering the mobile call to action content (home page template)

                    ****************************************************************************************************************

                -->



                <!-- ********* place main nav here ********* -->

              </div>
            </div>
          </nav>
        </header>

        <!-- end of the header -->

        <div id="main-content">

          <!--

            Placeholder is needed here for widgets used above the main content area (full width carousel) and outside of the grid.

           -->

          <div class="content-container">
            <div class="content-row">



                <!--

                  Placeholder: A placeholder is needed here for binding widgets to the main content area

                -->

            </div>
          </div>

          <!--

            Placeholder is needed here for widgets outside of and beneath the .content-container div

           -->

        </div>

        <!-- end the main content area -->

        <footer id="site-footer">

          <!--

            Placeholder: this placeholder is for the site footer area

          -->

        </footer>

      </div>

      <!-- end site content container div -->
