<!--

  The full width carousel is our new marquee based on Bootstrap 4.


 -->

<div id="full-width-carousel" class="carousel slide" data-ride="carousel">

  <!-- the list below is a slide count indicator

       the number of items in the carousel determines the number of indicators.

       the first indicator item always has the active class

       each indicator item has the data-slide-to attribute that increases its value by one for each item,
       starting with 0

   -->


  <ol class="carousel-indicators">
    <li data-target="#full-width-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#full-width-carousel" data-slide-to="1"></li>
    <li data-target="#full-width-carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">

    <!-- each carousel item contains at least an image an and optional caption

        *ONLY THE FIRST ITEM SHOULD HAVE THE ACTIVE CLASS
    -->

    <div class="carousel-item active">

        <!-- Template Field: an url field is needed for the img below, if no url is provided the <a> tag should not render. -->

        <a href="URL">

            <!-- Template Field: an image field is needed for the img field below -->

            <img src="IMAGE PATH" alt="ALT VALUE">

        </a>
    
      <!-- the div below should only be rendered if the caption area has content from the caption field -->

      <div class="carousel-caption">

        <!-- Template Field: A RTE field is needed for the carousel item caption content -->

      </div>

    </div>

    <!-- example of item without caption --> 

    <div class="carousel-item">
      <img src="IMAGE PATH" alt="IMAGE ALT ATTRIBUTE">
    </div>

  </div>

  <!-- carousel directional navigation -->

  <a class="left carousel-control" href="#full-width-carousel" role="button" data-slide="prev">
    <span class="fa fa-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="right carousel-control" href="#full-width-carousel" role="button" data-slide="next">
    <span class="fa fa-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
