<!-- Pushy Menu -->

<nav class="pushy pushy-right">
  <ul>

    <!--

      The pushy nav menu is an off-screen menu intended to display only on devices with a screen smaller than 768px.

    -->

    <!-- A link item without sub-items will be rendered like below -->

    <li class="pushy-link">
      <a href="ITEM URL">TITLE FIELD</a>
    </li>

    <!-- A link item with sub-items will have a different class name of .pushy-submenu and
         it's own set of links.

    -->

    <li class="pushy-submenu">

      <!-- The first item will have an <a> tag with "#" in the href attribute.
           The value of the text will be pulled from the "Title" field of the page template
      -->

      <a href="#">TITLE FIELD</a>

      <ul>

        <!-- each <li> tag under this area will have a class of .pushy-link -->

        <li class="pushy-link">

          <!-- the title field will be used for the text in each link -->

          <a href="ITEM URL">TITLE FIELD</a>

        </li>


      </ul>

    </li>

  </ul>

</nav>

<!-- Site Overlay -->
<div class="site-overlay"></div>

<!-- end of Off-screen menu section -->
