@import "smu-upgrade-theme/smu-styles";

/* Begin Engaged Learning styles */


.nav{
  li.dropdown:hover{
    cursor: pointer;
  }
}


// make BS2 .span* classes be like BS3 .col-md-* classes

@mixin convert-span-columns($i: 1) {
  @for $i from (1 + 1) through $grid-columns {

    .span#{$i}{
      @include make-md-column($i);
    }

  }
}

@include convert-span-columns();

// resets for mobile toggle button

#mobile-menu-wrapper{

  text-align: right;

  .mobile-toggle-button{
    background: transparent;
    box-shadow: none;
    outline: none;
    border: 0
  }
}

// force first .row-fluid divs in content-row area to be full width, remove padding to keep grid even

.content-row{
  > .row-fluid{
    @include make-xs-column(12);
    padding: 0;
  }
}

// body and apply section wrapper

.row-fluid#ctl18{

}

// body content

$home_body_content: '.span8#ctl19';

#{$home_body_content}{
  @include make-sm-column(9);

}

// apply section

.span4#ctl22{
  @include make-sm-column(3);

  border-left: 3px solid #e6e6e6;

}

$news_calendar_row: '.content-row .row-fluid:last-child';

// news

#{$news_calendar_row} .span9{
  @include make-sm-column(6);

}

// events

#{$news_calendar_row} .span3{
  @include make-sm-column(6);

}

// bottom row selector

$bottom_X: '.row-fluid:last-child > .span12';

// owl carousel title

#{$bottom_X}{
  h2{
    text-align: center;
  }
}

// owl carousel

.row-fluid .span12{
  @include make-sm-column(12);

}

// owl carousel controls under items

.owl-controls{
  text-align: center;
  .owl-prev, .owl-next{
    display: inline-block;
  }
}

.owl-item{
  .socials{
    display: block;
    text-align: center;
    padding-top: 20px;
    .btn{
      @extend .btn-primary;
    }
  }
}

.top-content{
  padding-top: 20px;
  margin-bottom: 30px;
}

#site-footer, footer{
  background-color: #DDDDDD;
}

/* Engaged Learning Sub-Page Styles */

// banner image

#titleWrapper{
  h3{
    margin: 0;
    padding: 0;
  }
  img{
    width: 100%;
  }
}

// body content

$sub_page_body: '.span7#ctl19';

#{$sub_page_body}{
  @include make-sm-column(9);
}

// sidebar

.span5#ctl22{
  @include make-sm-column(3);
}

.span5#ctl22{
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  #{$sub_page_body}{
    p{
      img{
        width: 100%;
        margin: 20px 0;
      }
    }
  }
}

// try to extend the main nav styles

#ctl8{
  @extend #main-nav;
}


@media screen and (max-width: $screen-sm-max) {
  #footerEL{
    .row{
      margin: 0;
    }
  }
}

// add grid styles for ELF home page
.column-wrapper{
  @include make-row();
  .left-column, .middle-column, .right-column{
    @include make-sm-column(4);
  }
}

.news-flash{

  border-top: 3px solid $el-grey;
  border-bottom: 3px solid $el-grey;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  p{
    margin: 0;
  }

  &:after{
    @extend .clearfix;
  }

}
