@import "../defaults/variables";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

#main-content{
  .content-container{
    padding: 0;
  }
}

.nav-collapse{
  display: none;
  .nav{
    li{
      &.dropdown.open{
        a{
          color: #424242;
        }
        .dropdown-menu{
          width: 100%;
        }
      }
    }
  }
  &.in{
    .nav{
      li{
        display: block;
      }
    }
  }
}

// .nav{
//   li{
//     display: inline-block;
//     a{
//       color: #ffffff;
//     }
//   }
// }

.mini-nav{
  .nav{
    li{
      display: inline-block;
      a{
        color: #ffffff;
      }
      &.dropdown:last-child{
        display: none;
      }
    }
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    color: #424242;
  }
}

.nav-collapse{
  .nav{
    li{
      a{
        color: #ffffff;
      }
    }
    .dropdown-menu{
      min-width: 150px;
      margin: 0!important;
    }
  }
}

.dropdown-menu.search{
  width: 100%;
  input{
    max-width: 100%!important;
  }
}

.row-fluid#ctl18{
  @include make-xs-column(12);
  margin-bottom: 20px;
}

.row-fluid#ctl19{
  @include make-row();
}

#titleWrapper{

  .departmentName{
    background: $brand-danger;
    color: white;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    margin: 0;
  }

  .breadcrumb{
    a, li{
      font-size: 10px;
    }
    .divider{
      display: none;
    }
  }

}

.news-home-featured{
  h1{
    font-size: 22px;
    text-align: center;
  }
  img{
    width: 100%;
    height: auto;
  }
  .lead{
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

#ctl20{
  @include make-md-column(9);
  padding: 0;
}

.span6#ctl21, .span6#ctl24{
  @include make-md-column(6);

    padding: 0;

  #smuNews{
    table{
      padding-left: 15px;
      padding-right: 15px;
    }
  }

}

#ctl27{
  @include make-md-column(3);
  padding: 0;
}

.stripeyBar{
  background: #dddddd;
  padding: 10px;
  font-weight: normal;
  margin-bottom: -1px;
  margin: 0 0 -2px;
}

.sidebarCallout{
  background: #dddddd;
  padding: 10px;
  line-height: 24px;
  h3{
    margin: 0 0 10px;
    font-size: 20px;
  }
  p{
    font-size: 14px;
  }
}

.input-append{
  display: block;
  margin-bottom: 20px!important;
}

.input-medium{
  height: 30px;
  padding: 5px 12px;
  margin: 0;
  border-width: 0;
  display: inline-block;
}

button{
  &.btn{
    display: inline-block;
    height: 30px;
    padding: 5px 12px;
    border-radius: 0;
    margin: -4px 0 0;
    .icon-search{
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &:before{
        content: "\f002";
      }
    }
  }
}

#ctl24 #smuNews:first-child .featuresTable, #ctl21 #smuNews:last-child .featuresTable{
  td{
    padding-top: 20px;
    @include make-row();
    a{
      @include make-md-column(4);
      padding: 0;
      img{
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    p{
      @include make-md-column(8);
      padding: 0 25px;
      font-size: 14px;
      a{
        display: block;
        width: 100%;
        margin: 0 0 5px;
        padding: 0;
        font-size: 20px;
        display: block;
        margin: 10px 0 0;
      }
    }
    &:after{
      clear: both;
    }
  }
}

#smuSideNav{
  border-top: 10px solid $brand-primary;
  margin-top: 20px;
  .nav-header{
    a{
      padding-left: 5px;
    }
  }
}
