/* line 5, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #main-content .content-container { padding: 0; }

/* line 10, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .nav-collapse { display: none; }

/* line 15, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .nav-collapse .nav li.dropdown.open a { color: #424242; }

/* line 18, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .nav-collapse .nav li.dropdown.open .dropdown-menu { width: 100%; }

/* line 26, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .nav-collapse.in .nav li { display: block; }

/* line 44, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .mini-nav .nav li { display: inline-block; }

/* line 46, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .mini-nav .nav li a { color: #ffffff; }

/* line 49, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .mini-nav .nav li.dropdown:last-child { display: none; }

/* line 54, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .mini-nav .nav .open > a, .mini-nav .nav .open > a:hover, .mini-nav .nav .open > a:focus { color: #424242; }

/* line 62, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .nav-collapse .nav li a { color: #ffffff; }

/* line 66, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .nav-collapse .nav .dropdown-menu { min-width: 150px; margin: 0 !important; }

/* line 73, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .dropdown-menu.search { width: 100%; }

/* line 75, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .dropdown-menu.search input { max-width: 100% !important; }

/* line 80, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .row-fluid#ctl18 { position: relative; float: left; width: 100%; min-height: 1px; padding-left: 15px; padding-right: 15px; margin-bottom: 20px; }

/* line 85, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .row-fluid#ctl19 { margin-left: -15px; margin-right: -15px; }

/* line 14, /Users/cresenciocantu/Documents/projects/smu-homepage/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss */ .row-fluid#ctl19:before, .row-fluid#ctl19:after { content: " "; display: table; }

/* line 19, /Users/cresenciocantu/Documents/projects/smu-homepage/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss */ .row-fluid#ctl19:after { clear: both; }

/* line 91, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #titleWrapper .departmentName { background: #cc0035; color: white; font-size: 24px; padding: 10px; text-align: center; margin: 0; }

/* line 101, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #titleWrapper .breadcrumb a, #titleWrapper .breadcrumb li { font-size: 10px; }

/* line 104, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #titleWrapper .breadcrumb .divider { display: none; }

/* line 112, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .news-home-featured h1 { font-size: 22px; text-align: center; }

/* line 116, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .news-home-featured img { width: 100%; height: auto; }

/* line 120, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .news-home-featured .lead { font-size: 14px; padding-left: 15px; padding-right: 15px; }

/* line 127, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #ctl20 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; padding: 0; }

@media (min-width: 992px) { /* line 127, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #ctl20 { float: left; width: 75%; } }

/* line 132, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .span6#ctl21, .span6#ctl24 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; padding: 0; }

@media (min-width: 992px) { /* line 132, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .span6#ctl21, .span6#ctl24 { float: left; width: 50%; } }

/* line 138, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .span6#ctl21 #smuNews table, .span6#ctl24 #smuNews table { padding-left: 15px; padding-right: 15px; }

/* line 146, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #ctl27 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; padding: 0; }

@media (min-width: 992px) { /* line 146, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #ctl27 { float: left; width: 25%; } }

/* line 151, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .stripeyBar { background: #dddddd; padding: 10px; font-weight: normal; margin-bottom: -1px; margin: 0 0 -2px; }

/* line 159, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .sidebarCallout { background: #dddddd; padding: 10px; line-height: 24px; }

/* line 163, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .sidebarCallout h3 { margin: 0 0 10px; font-size: 20px; }

/* line 167, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .sidebarCallout p { font-size: 14px; }

/* line 172, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .input-append { display: block; margin-bottom: 20px !important; }

/* line 177, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ .input-medium { height: 30px; padding: 5px 12px; margin: 0; border-width: 0; display: inline-block; }

/* line 186, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ button.btn { display: inline-block; height: 30px; padding: 5px 12px; border-radius: 0; margin: -4px 0 0; }

/* line 192, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ button.btn .icon-search { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* line 199, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ button.btn .icon-search:before { content: "\f002"; }

/* line 207, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #ctl24 #smuNews:first-child .featuresTable td, #ctl21 #smuNews:last-child .featuresTable td { padding-top: 20px; margin-left: -15px; margin-right: -15px; }

/* line 14, /Users/cresenciocantu/Documents/projects/smu-homepage/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss */ #ctl24 #smuNews:first-child .featuresTable td:before, #ctl24 #smuNews:first-child .featuresTable td:after, #ctl21 #smuNews:last-child .featuresTable td:before, #ctl21 #smuNews:last-child .featuresTable td:after { content: " "; display: table; }

/* line 19, /Users/cresenciocantu/Documents/projects/smu-homepage/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss */ #ctl24 #smuNews:first-child .featuresTable td:after, #ctl21 #smuNews:last-child .featuresTable td:after { clear: both; }

/* line 210, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #ctl24 #smuNews:first-child .featuresTable td a, #ctl21 #smuNews:last-child .featuresTable td a { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; padding: 0; }

@media (min-width: 992px) { /* line 210, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #ctl24 #smuNews:first-child .featuresTable td a, #ctl21 #smuNews:last-child .featuresTable td a { float: left; width: 33.33333%; } }

/* line 213, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #ctl24 #smuNews:first-child .featuresTable td a img, #ctl21 #smuNews:last-child .featuresTable td a img { width: 100%; max-width: 100%; height: auto; }

/* line 219, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #ctl24 #smuNews:first-child .featuresTable td p, #ctl21 #smuNews:last-child .featuresTable td p { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; padding: 0 25px; font-size: 14px; }

@media (min-width: 992px) { /* line 219, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #ctl24 #smuNews:first-child .featuresTable td p, #ctl21 #smuNews:last-child .featuresTable td p { float: left; width: 66.66667%; } }

/* line 223, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #ctl24 #smuNews:first-child .featuresTable td p a, #ctl21 #smuNews:last-child .featuresTable td p a { display: block; width: 100%; margin: 0 0 5px; padding: 0; font-size: 20px; display: block; margin: 10px 0 0; }

/* line 233, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #ctl24 #smuNews:first-child .featuresTable td:after, #ctl21 #smuNews:last-child .featuresTable td:after { clear: both; }

/* line 239, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #smuSideNav { border-top: 10px solid #354ca1; margin-top: 20px; }

/* line 243, /Users/cresenciocantu/Documents/projects/smu-homepage/src/scss/themes/news-theme.scss */ #smuSideNav .nav-header a { padding-left: 5px; }
