@import 'defaults/settings';

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,{
  margin-top: 0px;
}

#newsAndHighlights, #campusEvents, #exhibitsList{
  @include make-sm-column(6);
}

.content-container{
  padding-bottom: 40px;
}
